BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
BinPackParameters: false
BinPackArguments: false
PackConstructorInitializers: Never
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseExpressionOnASingleLine: true
AllowShortCompoundRequirementOnASingleLine: true
AllowShortEnumsOnASingleLine: true

AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
IncludeBlocks: Preserve
InsertNewlineAtEOF: true

AlignAfterOpenBracket: Align
MaxEmptyLinesToKeep: 2
BreakBeforeBinaryOperators: All