Checks: '-*,
clang-analyzer-*,
bugprone-*,
modernize-*,
readability-*,
performance-*,
cppcoreguidelines-*,
misc-*,
cert-*,

-misc-include-cleaner,
-modernize-use-trailing-return-type,
-cert-dcl58-cpp'

HeaderFilterRegex: "src/"